# SHIFTED FIRST (ENDS UP AT TAIL)
# mux_tree_tapbuf_size8_mem mem_top_ipin_2
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_top_ipin_1
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_top_ipin_0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_bottom_ipin_7
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_bottom_ipin_6
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_bottom_ipin_5
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_bottom_ipin_4
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_bottom_ipin_3
cbx_1__2_,routing,1
cbx_1__2_,routing,0
cbx_1__2_,routing,1
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_bottom_ipin_2
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_bottom_ipin_1
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0

# mux_tree_tapbuf_size8_mem mem_bottom_ipin_0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
cbx_1__2_,routing,0
# SHIFTED LAST (ENDS UP AT HEAD)