mux_tree_tapbuf_size2_mem mem_bottom_track_37 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_35 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_33 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_31 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_29 
sb_0__2_,routing,1
sb_0__2_,routing,1

mux_tree_tapbuf_size2_mem mem_bottom_track_27 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_25
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_23 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_21 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_17 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_15
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_13
sb_0__2_,routing,1
sb_0__2_,routing,1

mux_tree_tapbuf_size2_mem mem_bottom_track_11 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_9 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_7 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_5
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_3
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_bottom_track_1
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_36
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_34
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_32
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_30
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_28
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_26
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_24 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_22 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_20
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_16 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_14 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_12
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_10 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_8 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_6 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_4
sb_0__2_,routing,1
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_2 
sb_0__2_,routing,0
sb_0__2_,routing,0

mux_tree_tapbuf_size2_mem mem_right_track_0 
sb_0__2_,routing,0
sb_0__2_,routing,0